.card-style {
    width: 300px;
    height: 600px;
    background-color: #038C3E;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

.card-style p {
    text-align: center;
}

.input-tar {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    
}

.input-tar::placeholder{
    color: white;
    font-size: 18px;
}