.card-style {
    width: 300px;
    height: 600px;
    background-color: #038C3E;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

.card-style p {
    text-align: center;
}

.input-tar {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 100%;
    
}
.input-tar::placeholder{
    color: white;
    font-size: 18px;
}

.text-area {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 18px;
    font-family: QuickSand;
    text-align: center;
    color: white;
    outline: none;
    border: none;
    resize: none;
}

.button {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 90%;
}
